* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.DengLubox {
  width: 350px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -250px;
  display: flex;
  -webkit-flex-direction: column; }
  .DengLubox > .content {
    width: 100%;
    height: 100%; }
    .DengLubox > .content > .content_box {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-top: 100px; }
      .DengLubox > .content > .content_box > div {
        width: 100%;
        height: 3rem;
        margin-top: .5rem;
        line-height: 3rem; }
      .DengLubox > .content > .content_box > .one {
        width: 100%;
        height: 3rem;
        margin-top: 0;
        position: relative; }
        .DengLubox > .content > .content_box > .one > span {
          font-size: 1.1rem; }
          .DengLubox > .content > .content_box > .one > span:nth-of-type(1) {
            position: absolute;
            left: 0;
            top: 0;
            color: #666666; }
          .DengLubox > .content > .content_box > .one > span:nth-of-type(2) {
            position: absolute;
            right: 1rem;
            top: 0; }
        .DengLubox > .content > .content_box > .one > img {
          width: 1.1rem;
          height: 1.2rem;
          position: absolute;
          right: 0;
          top: .6rem; }
      .DengLubox > .content > .content_box > .two {
        margin-top: 0;
        position: relative; }
        .DengLubox > .content > .content_box > .two > input {
          width: 100%;
          height: 100%;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding-left: 2.7rem;
          outline: none; }
        .DengLubox > .content > .content_box > .two > img {
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          left: .5rem;
          top: .6rem; }
      .DengLubox > .content > .content_box > .three {
        position: relative; }
        .DengLubox > .content > .content_box > .three > input {
          width: 100%;
          height: 100%;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding-left: 2.7rem;
          outline: none; }
        .DengLubox > .content > .content_box > .three > img {
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          left: .5rem;
          top: .8rem; }
      .DengLubox > .content > .content_box > .four {
        position: relative; }
        .DengLubox > .content > .content_box > .four > span {
          position: absolute;
          right: 0;
          top: 0; }
          .DengLubox > .content > .content_box > .four > span > a {
            color: #2BB8AA; }
      .DengLubox > .content > .content_box > .five {
        position: relative;
        background: #2BB8AA;
        text-align: center;
        border: 1px solid #2BB8AA;
        border-radius: 3px; }
        .DengLubox > .content > .content_box > .five > span {
          width: 100%;
          height: 100%;
          font-size: 1.4rem; }
          .DengLubox > .content > .content_box > .five > span > a {
            color: white; }
      .DengLubox > .content > .content_box > .six {
        position: relative; }
        .DengLubox > .content > .content_box > .six > span {
          font-size: 1.3rem; }
          .DengLubox > .content > .content_box > .six > span:nth-of-type(1) {
            color: #666666; }
          .DengLubox > .content > .content_box > .six > span:nth-of-type(2) > a {
            color: #2BB8AA; }
      .DengLubox > .content > .content_box > .seven {
        position: relative;
        text-align: center; }
        .DengLubox > .content > .content_box > .seven > hr {
          margin-top: 15px;
          background: #e9e7e7; }
        .DengLubox > .content > .content_box > .seven > span {
          position: absolute;
          top: -16px;
          left: 50%;
          margin-left: -46px; }
          .DengLubox > .content > .content_box > .seven > span > a {
            color: #666666; }
      .DengLubox > .content > .content_box > .eight {
        position: relative;
        text-align: center; }
        .DengLubox > .content > .content_box > .eight > img {
          width: 1.5rem;
          height: 1.7rem;
          margin-top: .3rem; }
      .DengLubox > .content > .content_box > .nine {
        margin-top: .8rem; }
        .DengLubox > .content > .content_box > .nine > ul {
          display: flex;
          -webkit-justify-content: space-around; }
          .DengLubox > .content > .content_box > .nine > ul > li > span {
            color: #B3B3B3; }
          .DengLubox > .content > .content_box > .nine > ul > li > img {
            width: 25px;
            vertical-align: middle; }

@media screen and (max-width: 420px) {
  .DengLubox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    -webkit-flex-direction: column; } }

/*# sourceMappingURL=DengLu.css.map */
