* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a, p, input, div, span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@mixin pos($p:absolute) {
  position: $p;
}

.HuanKuanbox {
  width: 350px;
  height: 500px;
  //border:1px solid black;
  @include pos();
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -250px;
  display: flex;
  -webkit-flex-direction: column;
  header {
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 2px 1px #E9E9E9;
    z-index: 10;
    //border: 1px solid aqua;
    @include pos(relative);
    & > a {
      &:nth-of-type(1) {
        & > img {
          @include pos();
          left: 14px;
          top: 14px;
          width: 17px;
          height: 17px;
        }
      }
      &:nth-of-type(2) {
        & > img {
          @include pos();
          right: 3%;
          top: 43%;
          margin-top: -2%;
          width: 10px;
          height: 21px;
        }
      }
    }
    & > p {
      @include pos();
      font-size: 14px;
      border-left: 1px solid #EBEBEB;
      padding-left: 5%;
      font-weight: bold;
      top: 30%;
      left: 13%;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    -webkit-flex: 1;
    background: #F5F5F9;
    @include pos(relative);
    overflow: auto;
    .content_box {
      width: 93%;
      //border:1px solid black;
      margin-left: 4%;
      margin-top: 8%;
      & > .box_one {
        width: 100%;
        border: 1px dashed #DFDEE3;
        border-radius: 6px;
        text-align: center;
        @include pos(relative);
        & > p {
          padding: 20% 15%;
          font-size: 13px;
          color: #919192;
          & > img {
            @include pos();
            left: 50%;
            top: 50%;
            margin-left: -17%;
            margin-top: -3%;
            width: 18px;
            height: 18px;
          }
        }
      }
      & > .box_two {
        //border:1px solid black;
        text-align: center;
        margin-top: 4%;
        & > ul {
          display: flex;
          -webkit-justify-content: space-around;
          & > li {
            & > a {
              & > img {
                width: 24px;
                height: 23px;
              }
              font-size: 13px;
              color: #919192;
            }
          }
        }
      }
    }
  }

  //  di
}

@media screen and (max-width: 420px) {
  .HuanKuanbox {
    width: 100%;
    height: 100%;
    //border:1px solid black;
    @include pos();
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    -webkit-flex-direction: column;
  }
}