* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

a, p, input, div, span {
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

.ShouYebox {
  width: 350px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -250px;
  display: flex;
  -webkit-flex-direction: column; }
  .ShouYebox header {
    width: 100%;
    height: 45px;
    background: #1B82D1;
    position: relative; }
    .ShouYebox header > img {
      position: absolute; }
      .ShouYebox header > img:nth-of-type(1) {
        width: 18px;
        height: 17px;
        z-index: 3;
        left: 5%;
        top: 30%; }
      .ShouYebox header > img:nth-of-type(2) {
        width: 13px;
        height: 17px;
        z-index: 3;
        right: 25%;
        top: 32%; }
      .ShouYebox header > img:nth-of-type(3) {
        width: 23px;
        height: 20px;
        right: 12%;
        z-index: 3;
        top: 28%; }
      .ShouYebox header > img:nth-of-type(4) {
        width: 19px;
        height: 18px;
        right: 3%;
        top: 30%;
        z-index: 3; }
    .ShouYebox header > input {
      width: 75%;
      height: 30px;
      position: absolute;
      outline: none;
      padding-left: 8%;
      background: #3a8cce;
      border: 0;
      left: 13px;
      top: 8px;
      border-radius: 3px; }
    .ShouYebox header > .jiaHao {
      width: 28%;
      position: absolute;
      top: 95%;
      right: 3%;
      background: #FFFFFF;
      border-radius: 3px;
      display: none;
      z-index: 101;
      box-shadow: 1px 1px 1px 1px #939393; }
      .ShouYebox header > .jiaHao > p {
        position: absolute;
        top: -18%;
        right: 3%;
        border-top: 10px solid rgba(255, 255, 255, 0);
        border-bottom: 8px solid #FFFFFF;
        border-left: 8px solid rgba(255, 255, 255, 0);
        border-right: 8px solid rgba(255, 255, 255, 0); }
      .ShouYebox header > .jiaHao > ul {
        width: 95%;
        margin: 2%;
        display: flex;
        -webkit-flex-direction: column; }
        .ShouYebox header > .jiaHao > ul > li {
          padding: 3% 0;
          padding-left: 30%;
          position: relative;
          border-bottom: 1px solid #EBEBEB; }
          .ShouYebox header > .jiaHao > ul > li:last-child {
            border-bottom: 0px solid #EBEBEB; }
          .ShouYebox header > .jiaHao > ul > li > a > img {
            width: 16px;
            height: 17px;
            position: absolute;
            left: 6%;
            top: 8%; }
          .ShouYebox header > .jiaHao > ul > li > a > p {
            font-size: 13px;
            color: #353535; }
  .ShouYebox .content {
    width: 100%;
    height: 100%;
    -webkit-flex: 1;
    background: yellowgreen;
    position: relative;
    overflow: auto; }
    .ShouYebox .content .content_box {
      width: 100%; }
      .ShouYebox .content .content_box > div {
        width: 100%;
        height: 100%;
        position: absolute; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .one {
        width: 100%;
        padding-bottom: 5%;
        background: #1B82D1; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .one > ul {
          display: flex;
          -webkit-justify-content: space-around;
          text-align: center; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .one > ul > li {
            margin-top: 15px;
            font-size: 14px; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .one > ul > li a {
              color: #FFFFFF; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .one > ul > li a > img {
                width: 34px;
                height: 31px; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two {
        width: 100%;
        background: white; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_one {
          width: 100%;
          height: 50%;
          margin: 0 auto;
          padding-top: 3%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_one > ul {
            display: flex;
            width: 100%;
            padding-bottom: 4%;
            -webkit-justify-content: space-around;
            text-align: center; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_one > ul > li {
              font-size: 11px; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_one > ul > li a {
                color: #636363; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_one > ul > li a > img {
                  width: 26px;
                  height: 25px; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .xian {
          width: 90%;
          padding: .1%;
          margin: 0 auto;
          background: #E8E8E8; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_two {
          width: 100%;
          height: 50%;
          padding-top: 3%;
          padding-bottom: 4%;
          margin: 0 auto; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_two > ul {
            display: flex;
            -webkit-justify-content: space-around;
            text-align: center; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_two > ul > li {
              color: #636363;
              font-size: 11px; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_two > ul > li a {
                color: #636363; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .two > .box_two > ul > li > img {
                width: 26px;
                height: 25px; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .xian {
        width: 100%;
        padding: 1.5%;
        background: #E7E7E7; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three {
        width: 100%;
        background: white;
        position: relative; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl {
          display: flex; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl > dt {
            padding: 3% 2.5% 3% 6%; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl > dt > img {
              width: 34px;
              height: 34px; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl > dd {
            width: 100%;
            position: relative; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl > dd > p {
              color: #CACDD1;
              font-size: 12px;
              padding-top: 7%; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > dl > dd > img {
              position: absolute;
              right: 4%;
              top: 18%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > .xiangJiD {
          width: 70%;
          background: #FFFFFF;
          position: absolute;
          left: 18%;
          top: -135%;
          z-index: 90;
          display: none;
          box-shadow: 1px 1px 1px 1px #939393;
          border-radius: 3px; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > .xiangJiD > ul {
            width: 90%;
            margin: 2% 5%;
            display: flex;
            -webkit-flex-direction: column; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > .xiangJiD > ul > li {
              padding: 2%;
              border-bottom: 1px solid #E1E1E1; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > .xiangJiD > ul > li:last-child {
                border-bottom: 0px solid #E1E1E1; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .three > .xiangJiD > ul > li > a > p {
                font-size: 12px;
                color: #797979; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four {
        width: 100%;
        background: white; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one {
          position: relative; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl {
            display: flex;
            position: relative; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dt {
              padding: 2.5% 1% 3% 6%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dt > img {
                width: 31px;
                height: 30px; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dd {
              padding-top: 3%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dd > p:nth-of-type(1) {
                font-size: 13px;
                color: #090909; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dd > p:nth-of-type(1) > img {
                  position: absolute;
                  right: 5%;
                  top: 26%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > dl > dd > p:nth-of-type(2) {
                font-size: 10px;
                color: #8E8E8E; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian {
            width: 90%;
            background: #FFFFFF;
            position: absolute;
            left: 5%;
            top: -135%;
            display: none;
            z-index: 90;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px #939393; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > p {
              position: absolute;
              top: 97%;
              right: 1%;
              border-top: 8px solid #FFFFFF;
              border-bottom: 10px solid rgba(255, 255, 255, 0);
              border-left: 8px solid rgba(255, 255, 255, 0);
              border-right: 8px solid rgba(255, 255, 255, 0); }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > ul {
              width: 90%;
              margin: 2% 5%;
              display: flex;
              -webkit-flex-direction: column; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > ul > li {
                padding: 2%;
                padding-left: 8%;
                position: relative;
                border-bottom: 1px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > ul > li:last-child {
                  border-bottom: 0px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > ul > li > a > p {
                  font-size: 12px;
                  color: #797979; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_one > .dianDian > ul > li > a > img {
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  left: 0%;
                  top: 20%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two {
          width: 100%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl {
            width: 100%;
            display: flex; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl > dt {
              width: 25%;
              padding: 0 3% 3% 6%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl > dt > img {
                width: 68px;
                height: 69px; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl > dd {
              width: 75%;
              padding-top: 3%;
              padding-right: 5%;
              padding-left: 2%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl > dd > p:nth-of-type(1) {
                font-size: 13px;
                color: #090909; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_two > dl > dd > p:nth-of-type(2) {
                font-size: 10px;
                color: #8E8E8E;
                margin-top: 2%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_three {
          width: 90%;
          border-top: 1px solid #BDBDBD;
          margin: 0 auto;
          text-align: center;
          padding: 5% 0 5% 0; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .four > .box_three > p {
            font-size: 11px;
            color: #2788D4; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five {
        background: white; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one {
          position: relative; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl {
            display: flex;
            position: relative; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl > dt {
              padding: 3% 1% 3% 6%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl > dt > img {
                width: 31px;
                height: 30px; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl > dd {
              padding-top: 5%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl > dd > p {
                font-size: 13px;
                color: #090909; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > dl > dd > p > img {
                  position: absolute;
                  right: 5%;
                  top: 32%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian {
            width: 90%;
            background: #FFFFFF;
            position: absolute;
            left: 5%;
            top: -135%;
            display: none;
            z-index: 90;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px #939393; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > p {
              position: absolute;
              top: 98%;
              right: 1%;
              border-top: 8px solid #FFFFFF;
              border-bottom: 10px solid rgba(255, 255, 255, 0);
              border-left: 8px solid rgba(255, 255, 255, 0);
              border-right: 8px solid rgba(255, 255, 255, 0); }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > ul {
              width: 90%;
              margin: 2% 5%;
              display: flex;
              -webkit-flex-direction: column; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > ul > li {
                padding: 2%;
                padding-left: 8%;
                position: relative;
                border-bottom: 1px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > ul > li:last-child {
                  border-bottom: 0px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > ul > li > a > p {
                  font-size: 12px;
                  color: #797979; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_one > .dianDian > ul > li > a > img {
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  left: 0%;
                  top: 20%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_two {
          width: 90%;
          margin: 0 auto;
          padding-bottom: 1%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_two > img {
            width: 100%;
            height: 100%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_three {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          padding: 4% 0 4% 0; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .five > .box_three > p {
            font-size: 11px;
            color: #2788D4; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six {
        background: white; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one {
          position: relative; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl {
            display: flex;
            position: relative; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dt {
              padding: 3% 1% 3% 6%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dt > img {
                width: 31px;
                height: 30px; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dd {
              padding-top: 3%; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dd > p {
                font-size: 13px; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dd > p:nth-of-type(1) {
                  color: #090909; }
                  .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dd > p:nth-of-type(1) > img {
                    position: absolute;
                    right: 5%;
                    top: 26%; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > dl > dd > p:nth-of-type(2) {
                  font-size: 10px;
                  color: #8E8E8E;
                  margin-top: 2%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian {
            width: 90%;
            background: #FFFFFF;
            position: absolute;
            left: 5%;
            top: -135%;
            display: none;
            z-index: 90;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 1px #939393; }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > p {
              position: absolute;
              top: 98%;
              right: 1%;
              border-top: 8px solid #FFFFFF;
              border-bottom: 10px solid rgba(255, 255, 255, 0);
              border-left: 8px solid rgba(255, 255, 255, 0);
              border-right: 8px solid rgba(255, 255, 255, 0); }
            .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > ul {
              width: 90%;
              margin: 2% 5%;
              display: flex;
              -webkit-flex-direction: column; }
              .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > ul > li {
                padding: 2%;
                padding-left: 8%;
                position: relative;
                border-bottom: 1px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > ul > li:last-child {
                  border-bottom: 0px solid #E1E1E1; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > ul > li > a > p {
                  font-size: 12px;
                  color: #797979; }
                .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_one > .dianDian > ul > li > a > img {
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  left: 0%;
                  top: 20%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_two {
          width: 90%;
          margin: 0 auto;
          padding-bottom: 1%; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_two > img {
            width: 100%;
            height: 100%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_three {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          padding: 4% 0 4% 0; }
          .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .six > .box_three > p {
            font-size: 11px;
            color: #2788D4; }
      .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .DiXian {
        width: 100%;
        background: #E7E7E7;
        text-align: center;
        position: relative;
        padding: 5%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .DiXian > .bj {
          width: 90%;
          padding: .3%;
          background: #D0D0D0;
          position: absolute;
          margin: 0 auto;
          top: 50%; }
        .ShouYebox .content .content_box > #ShouYe > .ShouYe_content > .DiXian > p {
          width: 30%;
          height: 40%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -15%;
          margin-top: -2%;
          font-size: 12px;
          color: #B5B9BE;
          background: #E7E7E7;
          z-index: 5; }
  .ShouYebox footer {
    width: 100%;
    height: 48px; }
    .ShouYebox footer > ul {
      display: flex;
      -webkit-justify-content: space-around;
      margin-top: 3px;
      text-align: center; }
      .ShouYebox footer > ul > li > a > p {
        font-size: 10px;
        color: #A6A6A7; }
      .ShouYebox footer > ul > li > a > img {
        width: 24px;
        height: 23px; }

@media screen and (max-width: 420px) {
  .ShouYebox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    -webkit-flex-direction: column; } }

/*# sourceMappingURL=ShouYe.css.map */
